@model IEnumerable<MemLand.Models.FunnyImages.Mem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Scripts/jquery-3.3.1.min.js"/>
<style>
    .memImg {
        height: 200px;
        width: 300px;
    }
    .description {
        margin-top: 5px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
        
    }
    li {
        list-style-type: none; /* Убираем маркеры */
    }
    ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .listoc {
        margin-top: 40px;
        box-shadow: 0 0 4px rgba(0,0,0,0.2);
    }
    .like {

    }
    .memlink {

    }
    .Category {

    }
    .iconsLike {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
    }
    .iconsLike:hover {
        color: rgba(0,0,0,0.6)
    }
    .Title {
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 24px;
    }
    .likebutton {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }
</style>
<div class="container-fluid">
    <ul class="row">
        @{
            int countList = 0;
        }
        @foreach (var i in Model)
        {

        <li class="col-lg-2 col-md-3 col-md-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 listoc">
            <img src="@i.PathImg" class="memImg img-responsive" style=" display: block; padding-top: 20px;" />
            @*<div class="Category">
            @i.Category
        </div>*@
            <div class=" text-center Title">
                @i.Title
            </div>
            <div class="description text-center">
                @i.ShortDescription
            </div>
            <div class=" text-center">
                @using (Html.BeginForm())
                {
                    <input type="hidden" name="numberid" value="@i.Id" />
                    <button type="submit" class="likebutton" onmouseover="Like1(@countList)" onmouseout="Like2(@countList)">
                        <i class="far fa-thumbs-up iconsLike " id=""></i>
                    </button>
                }
                <span id="result" >
                    @i.Like
                </span>
            </div>
            </li>
            countList++;
        }
    </ul>
</div>
<script>
    function Like1(ccc) {
        const likebtn2 = document.querySelectorAll(".iconsLike");
        likebtn2[ccc].classList.remove("far");
        likebtn2[ccc].classList.add("fas");
    }
    function Like2(ddd) {
        const likebtn1 = document.querySelectorAll(".iconsLike");
        likebtn1[ddd].classList.remove("fas");
        likebtn1[ddd].classList.add("far");
    }

</script>